.product {
  &__table {
    @apply w-8/12 border p-2 m-auto mt-10 relative;

    &-col {
      @apply w-4/12 text-center;
    }
  }
}

#deleteModal {
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(3px);
  }
}

.deleteModal__content {
  min-width: 40dvw !important;
}
